<% layout('/layouts/boilerplate') %>

<div class="home-container container">
	<h1 class="display-1">Ask me Anything</h1>
	<div class="mb-5">
		<form action="/question" method="POST" novalidate class="validated-form">
			<div class="mb-3">
				<label class="form-label" for="prompt">Input Here:</label>
				<input class="form-control" type="text" id="prompt" name="prompt" required />
			</div>
			<div class="card-body">
				<p><%= result %></p>
			</div>
		</form>
	</div>
</div>
